<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Enterprise</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
  	<listener-class>listener.CountListener</listener-class>
  </listener>
  
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/employee</url-pattern>
    <url-pattern>/employee2</url-pattern>
    <url-pattern>/project</url-pattern>
    <url-pattern>/department</url-pattern>
    <url-pattern>/score</url-pattern>
    <url-pattern>/score2</url-pattern>
    <url-pattern>/index</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServlet2</servlet-name>
    <servlet-class>servlet.EmployeeServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet2</servlet-name>
    <url-pattern>/employee2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/department</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/project</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoreServlet</servlet-name>
    <servlet-class>servlet.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreServlet</servlet-name>
    <url-pattern>/score</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoreServlet2</servlet-name>
    <servlet-class>servlet.ScoreServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreServlet2</servlet-name>
    <url-pattern>/score2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
</web-app>